.calculator {
    
    min-width: 220px;
    max-width: 360px;

    padding: 8px;
    border: solid 1px black;
    border-radius: 5px;

    background-color: rgb(237, 237, 237);

    font-size: 1.2rem;
}

/* CALCULATOR DISPLAY */
.calculator .display {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    min-height: 1.9rem;

    border: solid 2px black;
    border-radius: 10px;

    padding: 5px 8px;
    margin-bottom: 10px;

    background-color: white;

    font-size: 1.6rem;
}

#resultDisplay {
    overflow: auto;
}

#opDisplay {
    color: hsl(0, 0%, 37%);
}

/* CSS GRID FOR BUTTONS */
.calculator .buttons {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    gap: 8px;

}

/* ALL BUTTONS */
.calculator button {

    all: initial;
    
    min-height: 3rem;

    border: solid 1px hsl(0, 0%, 40%);
    border-radius: 10px;
    box-shadow: 0 0 2px;

    font-size: 1.3rem;
    text-align: center;

    background-color: white;

    cursor: pointer;
}

.calculator button:hover, .calculator button:focus {
    background: hsl(189, 100%, 85%);
}

.calculator button:active {
    background: hsl(189, 100%, 50%);
    box-shadow: 0 0 0;
}

/* OPERATIONS BUTTONS */
.calculator button.op {
    background-color: hsl(231, 100%, 87%);
    font-weight: 700;
}

.calculator button.op:hover, .calculator button.op:focus {
    background-color: hsl(231, 100%, 75%);
}

.calculator button.op:active {
    background-color: hsl(231, 100%, 65%);
}

/* CLEAR AND EQUALS BUTTONS */
.calculator button.exec {
    background-color: hsl(348, 100%, 85%);
    font-weight: 700;
}

.calculator button.exec:hover, .calculator button.exec:focus {
    background-color: hsl(348, 100%, 75%);
}

.calculator button.exec:active {
    background-color: hsl(348, 100%, 65%);
}