.calculator {
    
    min-width: 220px;
    max-width: 360px;

    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;

    background-color: rgb(237, 237, 237);

    font-size: 1.2rem;
}

.calculator .display {
    border: solid 2px black;
    border-radius: 10px;

    padding: 5px;
    margin-bottom: 5px;

    background-color: white;

    font-size: 1.4rem;
}

.calculator .buttons {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    gap: 4px;

}

.calculator button {

    all: initial;
    
    min-height: 2.5rem;

    border: solid 1px hsl(0, 0%, 40%);
    border-radius: 10px;

    font-size: 1.2rem;
    text-align: center;

    background-color: white;

    cursor: pointer;
}

.calculator button:hover, .calculator button:focus {
    background: hsl(189, 100%, 85%);
}

.calculator button:active {
    background: hsl(189, 100%, 50%);
}

.calculator button.op {
    background-color: hsl(348, 100%, 87%);
    font-weight: 700;
}

.calculator button.op:hover, .calculator button.op:focus {
    background-color: hsl(348, 100%, 75%);
}

.calculator button.op:active {
    background-color: hsl(348, 100%, 65%);
}